@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.main-container-app{
    height: 100vh;
    background-color: rgba(255, 255, 0, 0.295);
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    gap: 0px;
}

.box-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.todo-app-container{
    width: 500px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.input{
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.404);
    outline: none;
    width: 100%;
}

.button-task-add{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.404);
    background-color: rgb(25, 185, 185);
    font-size: 22px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

// PARTE DE LOS TEST
.all-task{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px;
    background-color: white;
    border-radius: 10px;
}
// ICON THRASH
.fa-trash{
    font-size: 30px;
    cursor: pointer;
}
// P
.all-task-p-false{
    font-size: 22px;
    cursor: pointer;
}

.all-task-p-true{
    font-size: 22px;
    cursor: pointer;
    text-decoration: line-through;
    cursor: pointer;
}